<!DOCTYPE html>
<html>
	
	<head>
		{% block head %}
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Southern Sustainability</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
		<!-- Bulma Version 0.7.x-->
		<link rel="stylesheet" href="https://unpkg.com/bulma@0.7.5/css/bulma.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/admin.css">
		{% endblock %}
	</head>
	<body>
		<!-- START NAV -->
		{% block Nav %}
		<nav class="navbar has-background-link">
			<div class="container has-background-link">
				<div class="navbar-brand">
					<a class="navbar-item has-text-white is-size-3" href="../">
					Southern Sustainability
					</a>   
				</div>
			</div>
		</nav>
		{% endblock %}
		<!-- END NAV -->
		<div class="container ">
			{% block content %}{% endblock %}
		</div>
		<script async type="text/javascript" src="../js/bulma.js"></script>
	</body>
</html>