{% extends "base.html" %}

{% block head %}	{{ super() }}	{% endblock %}

{% block Nav %}	{{ super() }}	{% endblock %}

{% block content %}
            <div class="column is-9">
                <section class="hero is-info welcome is-small">
                    <div class="hero-body">
                        <div class="container">
                            <h1 class="title">
                                Hello.
                            </h1>
                            <h2 class="subtitle">
                                Welcome to the Sustainable projects app!
                            </h2>
                        </div>
                    </div>
                </section>     
            </div>

{% endblock %}